<div class="container">
	
	<h1>Welcome to student page</h1>
        <table class="table table-bordered">

        <% if user_signed_in? %>
             <p class="table table-bordered" , style="text-align:center; color: black; font-size: 80px ; border-color: black">Student Details</p>


         <tr>
             <td>Student image</td>
             <td><%= image_tag(current_user.student_image.url, size:10*10) if current_user.student_image.present? %></br>
</td>
         </tr>        	


        	<tr>
        		<td>Logged in as </td>
        		<td>
        			<%= current_user.email %>
        		</td>

        		
        	</tr>

        	<tr>
        		<td>Name </td>

        		<td>
        			<%= current_user.student_name %>
        		</td>
        	</tr>

            <tr>
        		<td>College name </td>

        		<td>
        			<%= current_user.college_name %>
        		</td>
        	</tr>


        	<tr>
        		<td>Contant No. </td>

        		<td>
        			<%= current_user.contact_number %>
        		</td>
        	</tr>


        	<tr>
        		<td>Address</td>

        		<td>
        			<%= current_user.student_address %>
        		</td>
        	</tr>

        	



        </table>

          
          
    <% end %>
</div>
