<!-- current student details page ,after click show button . When admin login. this page for admin only
 -->
<div class="container">
	
        <table class="table table-bordered cool">

        <% if admin_signed_in? %>
             <p class="table table-bordered effect" , style="text-align:center; color: black; font-size: 80px ">Student Details</p>
        	  


               <tr class= "table-active">
             <td>Student image</td>
             <td><%= image_tag(@user.student_image.url, size:10*10) if @user.student_image.present?%></td>
         </tr> 

         <tr class="table-active">
             <td>Batch No.</td>
             <td><%= @user.batch.id%></td>
         </tr>

         <tr class= "table-active"><td> Batch Name</td>
               <td><%= @user.batch.batch_name%></td> 
         </tr>     


        	<tr class= "table-active">
        		<td>Logged in as </td>
        		<td>
        			<%= @user.email %>
        		</td>

        		
        	</tr>

        	<tr class= "table-active">
        		<td>Name </td>

        		<td>
        			<%= @user.student_name %>
        		</td>
        	</tr>

            <tr class= "table-active">
        		<td>College name </td>

        		<td>
        			<%= @user.college_name %>
        		</td>
        	</tr>


        	<tr class= "table-active">
        		<td>Contant No. </td>

        		<td>
        			<%= @user.contact_number %>
        		</td>
        	</tr>


        	<tr class= "table-active">
        		<td>Address</td>

        		<td>
        			<%= @user.student_address %>
        		</td>
        	</tr>

        	

    <% end %>


        </table>

          
          
</div>
<style type="text/css">
    .cool{-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);margin-top: 40px;font-family: Georgia, serif;
font-size: 18px;
letter-spacing: 0.2px;
word-spacing: 0.4px;
color: black;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
font-variant: normal;
text-transform: none;
background: rgba(128,233,245,0.45) url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1310&q=80") repeat scroll 0% 50%;}

.effect{ text-align:center; color: black; font-size: 80px;font-family: cursive; font-style: italic; -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); margin-top: 50px;
background: rgba(42,245,212,0.49) url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=355&q=80") repeat scroll 47px -23px; }
.table-bordered{text-align: center;}
</style>