<div class="container">
	
	<h1>Welcome to student page</h1>
        <table class="table table-bordered">

        <% if admin_signed_in? %>
             <p class="table table-bordered" , style="text-align:center; color: black; font-size: 80px ">Student Details</p>
        	  


               <tr>
             <td>Student image</td>
             <td><%= image_tag(@user.student_image.url, size:10*10) if @user.student_image.present?%></td>
         </tr> 

         <tr>
             <td>Batch No.</td>
             <td><%= @user.batch.id%></td>
         </tr>

         <tr><td> Batch Name</td>
               <td><%= @user.batch.batch_name%></td> 
         </tr>     


        	<tr>
        		<td>Logged in as </td>
        		<td>
        			<%= @user.email %>
        		</td>

        		
        	</tr>

        	<tr>
        		<td>Name </td>

        		<td>
        			<%= @user.student_name %>
        		</td>
        	</tr>

            <tr>
        		<td>College name </td>

        		<td>
        			<%= @user.college_name %>
        		</td>
        	</tr>


        	<tr>
        		<td>Contant No. </td>

        		<td>
        			<%= @user.contact_number %>
        		</td>
        	</tr>


        	<tr>
        		<td>Address</td>

        		<td>
        			<%= @user.student_address %>
        		</td>
        	</tr>

        	

    <% end %>


        </table>

          
          
</div>