<div class="container">
	

<p>
	<strong>Faculty name</strong>
	<%= @faculty.faculty_name %>
</p> 

<p>
	<strong>Contact</strong>
	<%= @faculty.contact %>
</p>

<p>
	<strong>Email</strong>
	<%= @faculty.email %>
</p>


	<% if admin_signed_in? %>

 <%=  link_to 'Admin back' ,  faculties_path %>

  <% elsif user_signed_in?%>

        <%=  link_to 'User back' ,  student_index_path  %>
        <% end %>
 
</div>