


<p></p>

<div class="card-deck" style="width: 80rem; height:0rem">
  <div class="row cn">

    <% @faculties.each do |faculty| %>
    <div class="col-md-4">
      <p>  

        <div class="card"  >
          <img src='https://cdn.pixabay.com/photo/2019/11/19/22/24/watch-4638673_960_720.jpg' alt="" height="200" >
          <div class="card-body bg ">

            <b class="card-text">  Faculty Name </b>
            <h6 class="card-text"> <%= faculty.faculty_name %>
            </h6>
            <b class="card-text"> Faculty Email Id </b>
            <h6 class="card-text"> <%= faculty.email %>
            </h6>

            <table class="table-bordered local">

              <tr class="table-active">
                <th>batch name</th>
                <th>subject <br>faculty teach</th>
                <th>batch starting time</th>
                <th>batch ending time</th>
              </tr>


              <% faculty.batch_faculty_subjects.each do |batch| %>
              <tr class="table-active">
                <td>
                 <%= batch.batch.batch_name %></td>
                 <td>
                   <%= batch.subject.subject_name %>

                 </td>
                  <td> <%= batch.batch.starting_time.strftime("%H:%M") %></td>
                   <td><%= batch.batch.ending_time.strftime("%H:%M") %></td>



               </tr>


               <% end %>

             </table>





           </div>
           <div class="card-footer">
            <small class="text-muted">faculty details</small>
          </div>
        </div>
      </p>
    </div>
    <% end %>
  </div> 

</div>
<style type="text/css">
  .bg{background: -webkit-linear-gradient(to left, #000066, #000066, #000066);
    background: linear-gradient(to bottom right, #ccccff 0%, #ffffff 100%);
    padding-left: : 0px;
    text-align: left;
    size: 9876px;
    font-family: "Times New Roman"; Times, serif;
    font-size: 20px;
    letter-spacing: -0.4px;
    word-spacing: 1.8px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;

  }

   .local{background: -webkit-linear-gradient(to left, #000066, #000066, #000046);
    background: linear-gradient(to bottom right, #ccccff 0%, #ffffff 100%);
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    letter-spacing: -0.4px;
    word-spacing: 1.8px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: center;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
  }

  .cn{position: relative;
    left: 70px;
    bottom:0;
    width: 1200px;
  }


</style>







