


<p></p>

<div class="card-deck" style="width: 80rem; height:5rem">
  <div class="row">

    <% @faculties.each do |faculty| %>
    <div class="col-3">
      <p>  

        <div class="card"  >
          <img src='/assets/db.jpg' alt="" height="200" >
          <div class="card-body bg ">
            <h4 class="card-title"><%= faculty.faculty_name %></h4>

            <h6 class="card-text">  Faculty Name </h6>
            <p class="card-text"> <%= faculty.faculty_name %>
            </p>
            <h6 class="card-text"> Faculty Email Id </h6>
            <p class="card-text"> <%= faculty.email %>
            </p>


          </div>
          <div class="card-footer">
            <small class="text-muted">join us</small>
          </div>
        </div>
      </p>
    </div>
    <% end %>
  </div> 

</div>
<style type="text/css">
  .bg{background: -webkit-linear-gradient(to left, #000066, #000066, #000066);
    background: linear-gradient(to bottom right, #ccccff 0%, #ffffff 100%);
    padding: 30px;
    text-align: left;
    font-size: 15px;
    size: 987px
    
  }

 /* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  */
  
</style>








<!-- <div  class="container">
  

<h1>Listing faculties</h1>
<table class="table table-bordered ">
  <tr class="table-warning">
    <th>faculty name</th>
        <th colspan="1">Action</th>

  </tr>
 
  <% @faculties.each do |faculty| %>
    <tr>
      <td class="table table-info"><%= faculty.faculty_name %></td>
      <td class="table-success"><%= link_to 'Show', faculty_path(faculty) %></td>
     
    </tr>
  <% end %>
</table>

</div> -->