<!DOCTYPE html>
<html>
<head>
  <title>Coaching</title>
  <%#= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>




  
  <style>
   
   header
   {background: -webkit-linear-gradient(to right, #000066, #000066, #000066);
    background: linear-gradient(to right,#000066, #86A8E7, #7F7FD5);
    padding: 10px 16px;
    text-align: right;
    top: 0;
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
  }

  

  

  body{
    background-image: url('https://cdn.pixabay.com/photo/2017/12/10/20/56/feather-3010848_960_720.jpg');
    background-size: 1500px 2500px;
    background-repeat: no-repeat;
    }
    

    
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to bottom right, #ccccff 0%, #ffffff 100%);
      color: gray;
      text-align: center;
      padding: 7px;

    }

  </style>
   


<body>


  <%= render 'layouts/header' %>
  <%= render 'layouts/homenew' %>
  <%= yield %>




</body>

<!-- 
    <div class="footer">
  <p>Join us</p>
</div> -->
</html>
