<!DOCTYPE html>
<html>
  <head>
    <title>Coaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
    <%= render 'layouts/admin' %>


  <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

     <style>
           
           header
        {background: -webkit-linear-gradient(to right, #000066, #000066, #000066);
          background: linear-gradient(to right,#000066, #86A8E7, #7F7FD5);
  padding: 10px 16px;
        text-align: right;
          width: 100%;
          top: 0;
        font-size: 16px;

        }

        

        

        body{  
          background: rgb(238,174,202);
          background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}

          
         .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #ccccff 0%, #ffffff 100%);
  color: gray;
  text-align: center;
          padding: 7px;

}

         </style>
    

  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= render 'layouts/homenew' %>
<%= yield %>
<div class="footer">
  <p>Join us</p>
</div>

    </body>

    
</html>
