<!DOCTYPE html>
<html>
  <head>
    <title>Coaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
    <%= render 'layouts/admin' %>



    <meta name="viewport" content="width=device-width, initial-scale=1.2">

     <style>
           
           header
        {background: -webkit-linear-gradient(to right, #000066, #000066, #000066);
          background: linear-gradient(to right,#000066, #86A8E7, #7F7FD5);
  padding: 10px 16px;
        text-align: right;
          top: 0;
        font-size: 18px;
        font-style: italic;
        font-family: cursive; 


        }

        

        

        body{  
          background: rgba(128,233,245,0.45) url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1310&q=80") repeat scroll 1px -12px;}

          
         .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #ccccff 0%, #ffffff 100%);
  color: gray;
  text-align: center;
          padding: 7px;

}

         </style>
    

  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= render 'layouts/homenew' %>
<%= yield %>


    </body>
<!-- 
    <div class="footer">
  <p>Join us</p>
</div> -->
</html>
