<!DOCTYPE html>
<html>
  <head>
    <title>Coaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

     <style>
           
           header
        {background-color: midnightblue;
        padding: 20px;
        text-align: right;
        font-size: 16px;
        
        }


        body{color: black;
          background-color: lightcyan}

    

         </style>

  </head>

  <body>

    <%= render 'layouts/header' %> &nbsp;&nbsp;&nbsp;&nbsp;

     <p class="notice"><%= notice %></p>
       <p class="alert" style="color: red;"><%= alert %></p>

    <%= yield %>
  </body>
</html>
