<!DOCTYPE html>
<html>
  <head>
    <title>Coaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/admin' %>


  <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

     <style>
           
           header
        {background: -webkit-linear-gradient(to right, #000066, #000066, #000066);
          background: linear-gradient(to right,#000066, #86A8E7, #7F7FD5);
        padding: 30px;
        text-align: right;
        font-size: 16px;
       
        }


        body{  
          background: rgb(238,174,202);
          background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}

          
         </style>

  </head>

  <body>
    <%= render 'layouts/header' %> &nbsp;&nbsp;&nbsp;&nbsp;
<p></p>
  <% if user_signed_in? %>
         <%= link_to "Click Here For Student Details",student_new_path, :class => 'navbar-link pooja', class: "btn btn-info"%> &nbsp;&nbsp;&nbsp;&nbsp;
 <% end %> 

  <% if admin_signed_in? %>
         <%= link_to "Click Here For Student Details",students_path, :class => 'navbar-link pooja', class: "btn btn-info"%> &nbsp;&nbsp;&nbsp;&nbsp;
 <% end %>   
  


     <p class="notice" style="color: red; text-align: right;  "><%= notice %></p>
       <p class="alert" style="color: red;"><%= alert %></p>


    <%= yield %>
  </body>
</html>
